<div class="acerca-de">
    <div class="row" *ngFor="let personal of personalDataList">
        <div class="col-lg-4">
            <div class="foto-perfil col-lg-12">
                <img class="img-fluid rounded-circle mb-4" [src]="personal.fotoPerfil">
            </div>
            <div class="col-lg-12 nombre">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>{{personal.nombre}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="informacion col-lg-8">
            <div class="row">
                <div class="col-lg-10">
                    <p>{{personal.presentacion}}</p>
                </div>
                <div *ngIf="isLogged()" class="col-lg-2" style="margin-top: 5px;">
                    <button class="btn btn-primary me-md-2 fas fa-edit editar" type="button"
                        (click)="openModal(InformacionPersonalModal)"></button>
                </div>
            </div>
        </div>
        <ng-template #InformacionPersonalModal>
            <div class="modal-header">
                <h4 class="modal-title pull-left">Editar información personal</h4>
                <button type="button" class="close pull-right" arial-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="floatingInput" class="form-label"><b>Nombre</b></label>
                        <input type="text" class="form-control" id="nombre" value="{{nombre}}">
                        <label for="exampleFormControlTextarea1" class="form-label"><b>Descripción</b></label>
                        <textarea class="form-control" id="presentacion" rows="14" value="{{presentacion}}"></textarea>
                        <label for="floatingInput" class="form-label"><b>URL imagen</b></label>
                        <input type="text" class="form-control" id="fotoPerfil" value="{{fotoPerfil}}">
                    </div>
                    <button type="submit" class="btn btn-primary"
                        (click)="actualizarInformacionPersonal(personal)">Guardar</button>
                </form>
            </div>
        </ng-template>
    </div>
</div>