<nav class="navbar fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-izq">
        <img src="https://i.ibb.co/RYYgFcz/APLogo-20-20.png" width="80" height="30" href="*">
        <h6 class="titulo">Argentina Programa - #YoProgramo</h6>
    </div>
    <div class="navbar-der">
        <ul class="nav navbar-top-links">
            <li class="dropdown">
                <div class="text-center">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        
                        <button type="button" class="btn btn-social-icon dropdown-toggle fas fa-user"
                            data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 23px;">&nbsp;{{userName()}}</button>
                        <ul class="dropdown-menu">
                            <li *ngIf="!isLogged()"><a class="dropdown-item" routerLink="/login">Inicia sesión</a></li>
                            <li *ngIf="isLogged()"><a class="dropdown-item" (click)="logOut()" routerLink="">Cerrar
                                    sesión</a></li>
                        </ul>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <a class="btn btn-social-icon" href="https://www.instagram.com/salcedodiego_ok/"
                            title="Instagram" target="_blank"><i class="fab fa-instagram-square fa-lg"></i></a>
                        <a class="btn btn-social-icon" href="https://www.linkedin.com/in/dnsalcedo/" title="LinkedIn"
                            target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                        <a class="btn btn-social-icon" href="https://twitter.com/DiegoSalcedoOK" title="Twitter"
                            target="_blank"><i class="fab fa-twitter-square fa-lg"></i></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>