<div *ngIf="load" class="card educacion">
    <h5 class="card-header"></h5>
    <div class="card-body">
        <div class="card mb-12">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <div class="row">
                        <div class="col-10">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne"><b>Idiomas</b></button>
                            </h2>
                        </div>
                        <div *ngIf="isLogged()" class="col-2" style="margin-top: 1%;">
                            <button class="btn btn-primary me-md-2 fas fa-plus-square" type="button"
                                (click)="openModalNew(IdiomaModalNew)"></button>
                        </div>
                    </div>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div *ngFor="let idi of idiomasList" class="card">
                                <div class="card-body">
                                    <div class="col-md-10">
                                        <div class="row g-0">
                                            <div class="col-md-9">
                                                <h5 class="card-title">{{idi.nombre}}</h5>
                                                <div>
                                                    <p><strong>Lectura</strong></p>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                            role="progressbar"
                                                            [style]="'width: ' + idi.nivelLectura + '%;'"
                                                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <p><strong>Escritura</strong></p>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                            role="progressbar"
                                                            [style]="'width: ' + idi.nivelEscritura + '%;'"
                                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <p><strong>Conversación</strong></p>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                            role="progressbar"
                                                            [style]="'width: ' + idi.nivelConversacion + '%;'"
                                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="isLogged()" class="col-md-3">
                                                <div style="padding: 1rem 0rem 1rem 0rem;">
                                                    <button class="btn btn-primary me-md-2 fas fa-edit editar"
                                                        type="button"
                                                        (click)="openModalEdit(IdiomaModalEdit,idi.id)"></button>
                                                    <button class="btn btn-primary me-md-2 fas fa-trash-alt editar"
                                                        type="button" (click)="mostrarDialogo(idi.id)" style="
                                                        margin-left: 2%;"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #IdiomaModalEdit>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Editar idioma</h4>
            <button type="button" class="close pull-right" arial-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="load2">
            <form [formGroup]="formEdit" (ngSubmit)="actualizarIdioma($event)">
                <div class="mb-3">
                    <input class="form-control" formControlName="id" type="hidden">
                    <label for="floatingInput" class="form-label"><b>Idioma</b></label>
                    <input class="form-control" formControlName="nombre">
                    <p *ngIf="formEdit.controls['nombre']?.hasError('required')" class="error">El idioma es
                        requerido.</p>
                    <label for="floatingInput" class="form-label"><b>Nivel de lectura</b></label>
                    <mat-slider class="form-control" min="0" max="100" step="10" color="primary" thumbLabel
                        formControlName="nivelLectura"></mat-slider>
                    <p *ngIf="formEdit.controls['nivelLectura']?.hasError('required')" class="error">El nivel de lectura
                        es
                        requerido.</p>
                    <label for="floatingInput" class="form-label"><b>Nivel de escritura</b></label>
                    <mat-slider class="form-control" min="0" max="100" step="10" color="primary" thumbLabel
                        formControlName="nivelEscritura"></mat-slider>
                    <p *ngIf="formEdit.controls['nivelEscritura']?.hasError('required')" class="error">El nivel de
                        escritura es requerido.</p>
                    <label for="floatingInput" class="form-label"><b>Nivel de conversacion</b></label>
                    <mat-slider class="form-control" min="0" max="100" step="10" color="primary" thumbLabel
                        formControlName="nivelConversacion"></mat-slider>
                    <p *ngIf="formEdit.controls['nivelConversacion']?.hasError('required')" class="error">El nivel de
                        conversacion
                        es
                        requerido.</p>
                    <input class="form-control" formControlName="usuarios_idusuario" type="hidden">
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </ng-template>
    <ng-template #IdiomaModalNew>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Crear idioma</h4>
            <button type="button" class="close pull-right" arial-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="load2">
            <form [formGroup]="formNew" (ngSubmit)="crearIdioma($event)">
                <div class="mb-3">
                    <label for="floatingInput" class="form-label"><b>Idioma</b></label>
                    <input class="form-control" formControlName="nombre">
                    <p *ngIf="formNew.controls['nombre']?.hasError('required')" class="error">El idioma es
                        requerido.</p>
                    <label for="floatingInput" class="form-label"><b>Nivel de lectura</b></label>
                    <mat-slider class="form-control" min="0" max="100" step="10" color="primary" thumbLabel
                        formControlName="nivelLectura"></mat-slider>
                    <p *ngIf="formNew.controls['nivelLectura']?.hasError('required')" class="error">El nivel de lectura
                        es
                        requerido.</p>
                    <label for="floatingInput" class="form-label"><b>Nivel de escritura</b></label>
                    <mat-slider class="form-control" min="0" max="100" step="10" color="primary" thumbLabel
                        formControlName="nivelEscritura"></mat-slider>
                    <p *ngIf="formNew.controls['nivelEscritura']?.hasError('required')" class="error">El nivel de
                        escritura es
                        requerido.</p>
                    <label for="floatingInput" class="form-label"><b>Nivel de conversacion</b></label>
                    <mat-slider id="container-2" class="form-control" min="0" max="100" step="10" color="primary"
                        thumbLabel formControlName="nivelConversacion"></mat-slider>
                    <p *ngIf="formNew.controls['nivelConversacion']?.hasError('required')" class="error">El nivel de
                        conversacion
                        es
                        requerido.</p>
                    <input class="form-control" formControlName="usuarios_idusuario" type="hidden">
                </div>
                <button type="submit" class="btn btn-primary">Crear</button>
            </form>
        </div>
    </ng-template>
</div>